In [121]:
# Importation des packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from google.colab import output
output.enable_custom_widget_manager()

In [122]:
# Importation des données 

deces_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
confirme_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
retabli_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
etat_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv')

In [123]:
print(deces_df.shape)
print(confirme_df.shape)
print(retabli_df.shape)
print(etat_df.shape)

(289, 1147)
(289, 1147)
(274, 1147)
(201, 16)

Large vue sur les données

In [124]:
 deces_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933

In [125]:
confirme_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [126]:
retabli_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
etat_df.head()

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Cases_28_Days,Deaths_28_Days
0,Afghanistan,2023-03-10 13:21:02,33.93911,67.709953,209484,7896,NaN,NaN,538.127222,NaN,NaN,3.769262,4,AFG,680,0.0
1,Albania,2023-03-10 13:21:02,41.15330,20.168300,334457,3598,NaN,NaN,11621.968170,NaN,NaN,1.075774,8,ALB,228,2.0
2,Algeria,2023-03-10 13:21:02,28.03390,1.659600,271496,6881,NaN,NaN,619.132366,NaN,NaN,2.534476,12,DZA,90,0.0
3,Andorra,2023-03-10 13:21:02,42.50630,1.521800,47890,165,NaN,NaN,61981.492267,NaN,NaN,0.344540,20,AND,30,0.0
4,Angola,2023-03-10 13:21:02,-11.20270,17.873900,105288,1933,NaN,NaN,320.352770,NaN,NaN,1.835917,24,AGO,104,2.0

In [128]:
etat_df.columns

Index(['Country_Region', 'Last_Update', 'Lat', 'Long_', 'Confirmed', 'Deaths',
       'Recovered', 'Active', 'Incident_Rate', 'People_Tested',
       'People_Hospitalized', 'Mortality_Rate', 'UID', 'ISO3', 'Cases_28_Days',
       'Deaths_28_Days'],
      dtype='object')

In [129]:
# Affichage des statistique du COVID_19 dans le monde

global_data = etat_df.copy().drop(['Country_Region','Last_Update', 'Lat', 'Long_','Recovered','Active', 'Incident_Rate', 'People_Tested',
       'People_Hospitalized', 'Mortality_Rate', 'UID', 'ISO3', 'Cases_28_Days',
       'Deaths_28_Days'],axis=1)
global_synthese = pd.DataFrame(global_data.sum()).transpose()
global_synthese

   Confirmed   Deaths
0  676609955  6881955

In [130]:
# Visualisation des pays les plus touchés 
fig = go.FigureWidget(layout = go.Layout())

# Définir les couleurs a utiliser dans le graph
def highlight_col(x):
  r='background-color:red'
  y='background-color:purple'
  g='background-color:grey'
  df1 = pd.DataFrame('',index=x.index, columns=x.columns)
  df1.iloc[:,4] = y
  df1.iloc[:,5] = r
  df1.iloc[:,6] = g

  return  df1

# Afficher les 10 premiers pays les plus touchés
def show_case(n):
  n = int(n)
  return etat_df.sort_values('Confirmed',ascending=False).head(n).style.apply(highlight_col,axis=None)

interact(show_case,n='10')

# Bordure
ipywLayout=widgets.Layout(border='solid 2px green')
ipywLayout.display='none'
widgets.VBox([fig],layout=ipywLayout)

interactive(children=(Text(value='10', description='n'), Output()), _dom_classes=('widget-interact',))

VBox(children=(FigureWidget({
    'data': [], 'layout': {'template': '...'}
}),), layout=Layout(border='solid …

In [131]:

etat_class_df = etat_df.sort_values('Confirmed',ascending=False)
px.bar(
    etat_class_df.head(10),
    x = 'Country_Region',
    y = 'Confirmed',
    title='Les 10 pays les plus touchés par le coronavirus (cas confirmé)',
    color_discrete_sequence = ['pink'],
    height = 500,
    width = 800
)

In [132]:
etat_class_df.columns

Index(['Country_Region', 'Last_Update', 'Lat', 'Long_', 'Confirmed', 'Deaths',
       'Recovered', 'Active', 'Incident_Rate', 'People_Tested',
       'People_Hospitalized', 'Mortality_Rate', 'UID', 'ISO3', 'Cases_28_Days',
       'Deaths_28_Days'],
      dtype='object')

In [133]:
px.bar(
    etat_class_df.head(10),
    x = 'Country_Region',
    y = 'Deaths',
    title='Les 10 pays les plus touchés par le coronavirus (cas decès)',
    color_discrete_sequence = ['pink'],
    height = 500,
    width = 800
)